.posts {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 500px;
    margin: 0 auto;
}

.post {
    background-color: #ffffff;
    border: 1px solid #e2e8f0;
    border-radius: 8px;
    padding: 15px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    width: 90%;
}

h1 {
    font-size: 1.7rem;
}

h2 {
    font-size: 1.5rem;
}

p {
    font-size: 1rem;
}

.header2 {
    padding: 0px 20px;
}

.delete {
    color: #891010;
    padding: 5px;
}
